
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

.container {
  top: 50%;
  left: 70%;
  position: absolute;
  transform: translate(-01%, -50%);
  margin: 0 auto;
  width: 256px;
  text-align: center;
  border: 1px solid #fff;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(30px, auto);
  height: 250px;
}

input[type="text"] {
  height: 40px;
  width: 100%;
  background: #b5b2b2;
  border: none;
  color: #fff;
  text-align: end;
  font-size: 18px;
  letter-spacing: 1px;
}

.firstline {
  font-size: 10px;
  border: 1px solid #fff;
}

.extra {
  background-color: #ff8000;
  border: 1px solid #fff;
}

.secondline {
  font-size: 10px;
  border: 1px solid #fff;
}

.thirdline {
  font-size: 10px;
  border: 1px solid #fff;
}

.fourthline {
  font-size: 10px;
  border: 1px solid #fff;
}

.equal {
  background-color: #ff8000;
  border: 1px solid #fff;
}

.cero {
  grid-column: 1/3;
  font-size: 10px;
  border: 1px solid #fff;
}

.dot {
  font-size: 10px;
  border: 1px solid #fff;
}

.menubar {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
}

h1 {
  font-size: 40px;
  margin-left: 5%;
}

a {
  margin-right: 5px;
  text-decoration: none;
}

.links {
  padding-top: 1%;
}

.main {
  padding: 5%;
}

h2 {
  margin-top: 10%;
}

p {
  margin-top: 5%;
}

.quotes {
  padding: 5%;
  text-align: center;
  margin-top: 10%;
}
